<div class = "container p-4 "> 
    <form [formGroup] = "loginForm" (ngSubmit) = "login()">
    <div class = "mt-4">
        <label for="username">Username: </label>
        <input id="username" type="text" formControlName = "username" class = "form-control w-50">
        <div *ngIf="loginForm.controls['username'].invalid && loginForm.controls['username'].touched" class="alert alert-danger h-10 mt-2 w-50">
            <div *ngIf="loginForm.controls['username'].errors?.['required']">Name is required.</div>
        </div>
    </div>
    <div class = "mt-4">
        <label for="password">Password: </label>
        <input id="password" type="text" formControlName = "password" class = "form-control w-25">
        <div *ngIf="loginForm.controls['password'].invalid && loginForm.controls['password'].touched" class="alert alert-danger h-10 mt-2 w-50">
            <div *ngIf="loginForm.controls['password'].errors?.['required']">Photo is required.</div>
        </div>
    </div>
    <button class = "mt-4 btn btn-primary" type = "login" [disabled]="loginForm.pristine || loginForm.invalid">Login</button>
    </form>
</div>